.content {
    width:600px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#person {
    width: 300px;
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

.spinnerCenter {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    font-size: 48px;
}
